body 	   		{padding:0 0}
.left 			{float:left}
.right      {float:right}
.clear 			{clear:both}
.wrapper 		{ width:90%; margin:0px auto;}

h1          {margin-bottom:30px; text-align:center;}
 
h3          {margin:0}
.sidebox    {width:30%; margin-right:10px}
.mainbox    {width:65%;}

.slide, .regslide 			{  background:red; display:none; color:white; padding:20px; position: relative;  }


.btn 			{cursor:pointer; padding:5px; border:1px solid #ccc; width:150px; margin-right:10px; background:blue; color:white; text-align:center}

.btn.red  {background:red;}
.text     {maring-top:20px; }